%p#notice= notice

%p
  %b User:
  = @admin_comment.user
%p
  %b Article:
  = @admin_comment.article
%p
  %b Body:
  = @admin_comment.body

= link_to 'Edit', edit_admin_comment_path(@admin_comment)
\|
= link_to 'Back', admin_comments_path
