.page-header
  %h1= @article.title

%article
  %p.lead
    by
    = link_to @article.user, @article.user
  %p
    Tags:
    - @article.tags.each do |tag| 
      = link_to tag.name, tag_path(tag.name)
  - unless @article.file_contents.blank?
    %p.thumbnail
      = image_tag(image_article_path(@article), class: 'img-responsive')
  %p
    = sanitize @article.body
    
  %p.btn-group
    = link_to "#{pluralize(@article.get_upvotes.size, 'like')}", like_article_path(@article), method: :get, class: 'btn btn-xs btn-primary'
    = link_to "#{pluralize(@article.get_downvotes.size, 'dislike')}", dislike_article_path(@article), method: :get, class: 'btn btn-xs btn-danger'
    = link_to "Back", :back, class: 'btn btn-xs btn-warning'

%h3= "Comments #{@article.comments.size}"
%article.comments
  = render @article.comments

%article.comments_form
  %h3 Post a Comment
  = render 'comments/form', article: @article

