.page-header
  %h2 Navigation

%post
  %p= link_to 'All Categories', admin_categories_path
  %p= link_to 'All Article', admin_articles_path
  %p= link_to 'All Users', admin_users_path
  %p= link_to 'All Tags', admin_tags_path
  %p= link_to 'Comments', admin_comments_path